@import "variables.less";

/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */

.pf1.chat-card {
  font-style: normal;
  font-size: 12px;

  .card-header {
    padding: 3px 0;
    border-top: 2px groove #FFF;
    border-bottom: 2px groove #FFF;

    img {
      flex: 0 0 36px;
      margin-right: 5px;
    }

    h3 {
      flex: 1;
      margin: 0;
      line-height: 36px;
      .nodesto();
      color: @colorOlive;
    }
  }

  .card-content {
    margin: 5px 0;

    h3 {
      font-size: 12px;
      margin: 0;
      font-weight: bold;
    }

    > * {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }
  }

  .card-buttons {
    margin: 5px 0;

    span {
      display: block;
      line-height: 28px;
      text-align: center;
      border: 1px solid @borderLight;
    }

    button {
      font-size: 12px;
      height: 24px;
      line-height: 20px;
      margin: 2px 0;
    }
  }

  .card-footer {
    padding: 3px 0 0;
    border-top: 2px groove #FFF;

    .spell-failure {
      padding: 4px;
      margin-bottom: 4px;
      border: 1px solid #999;
      border-radius: 3px;

      h3 {
        color: #4C6D9F;
        font-size: 16px;
        text-align: center;
      }

      .dice-roll, .dice-total {
        padding: 0;
      }
    }

    span {
      border-right: 2px groove #FFF;
      padding: 0 5px 0 0;
      font-size: 10px;

      &:last-child {
        border-right: none;
        padding-right: 0;
      }
    }
  }
}

#chat-log .message {
  .chat-attack {
    padding: 4px;
    margin-bottom: 8px;
    border: 1px solid #999;
    border-radius: 3px;

    .dice-roll:nth-child(n+2) .dice-flavor {
      margin-top: 12px;
    }

    .dice-roll:first-child > .dice-flavor {
      color: #4C6D9F;
      font-size: 16px;
      text-align: center;
    }
  }

  .property-group {
    flex: 0 0 24px;

    /* Tags */
    .tag {
      display: inline-block;
      margin: 0 2px 0 0;
      padding: 1px 3px;
      font-size: 10px;
      line-height: 16px;
      border: 1px solid #999;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.05);
      flex: 0 0 24px;
      white-space: nowrap;
    }
  
    input[type="text"] {
      height: 24px;
      margin: 2px;
    }
    
    label {
      flex: 2;
      color: @colorOlive;
      font-weight: bold;
    }
  }

  .extra-text {
    margin-top: 8px;
    flex: 0 0 100%;
    white-space: pre-wrap;
    
    label {
      flex: 2;
      color: @colorOlive;
      font-weight: bold;
    }
  }

  .extra-effect:not(:last-child),
  .extra-misc:not(:last-child) {
    margin-bottom: 5px;
  }

  .extra-effect {
    position: relative;
    margin: 0;
    line-height: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 2px #FFF inset;
  }

  .extra-misc {
    position: relative;
    margin: 0;
    line-height: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 2px #FFF inset;
  }

  .extra-roll-label {
    font-weight: bold;
    font-size: 14px;
  }

  div.defense {
    table {
      width: 100%;
      table-layout: fixed;

      td, th {
        text-align: center;
      }
    }
  }
}

.chat-card.defense-card {
  .saving-throws {
    margin-top: 4px;
  }
}
